@import "tailwindcss";
@source "../index.html";
@plugin "@tailwindcss/typography";

.markdown-codejar {
  tab-size: 2;
  text-rendering: geometricprecision;
}

.markdown-codejar[data-empty="true"]::before {
  color: #a1a1aa;
  content: attr(data-placeholder);
  pointer-events: none;
}

.markdown-codejar .token.title,
.markdown-codejar .token.important {
  color: #000;
  font-weight: 700;
}

.markdown-codejar .token.bold {
  font-weight: 700;
}

.markdown-codejar .token.italic {
  font-style: italic;
}

.markdown-codejar .token.code,
.markdown-codejar .token.keyword {
  color: #3f3f46;
}

.markdown-codejar .token.blockquote,
.markdown-codejar .token.hr,
.markdown-codejar .token.list,
.markdown-codejar .token.punctuation {
  color: #71717a;
}

.markdown-codejar .token.url,
.markdown-codejar .token.link {
  color: #18181b;
  text-decoration: underline;
  text-decoration-color: #a1a1aa;
  text-underline-offset: 0.15em;
}
